.App {
  text-align: center; 
   height: 100%;
   width: 100%;
   /* position: fixed; */
   /* background-image: url("./public/bg.jpg"); */
    background-repeat:repeat-x;
   
    
}
.dark-red-gradiant{
  background-image:
   linear-gradient(to bottom right, #EB6348FF, #E44367FF);  
   color :yellow;
}

h2,h1 {
  color:white;
  margin : 20px;
}
.login-parent{
  /* margin: 13% 20% auto auto ;*/
  width: 400px;
  height: 200px;
  
  border: 3px solid darkgray;
  padding: 10px;
    /* box-shadow: 5px 5px lightgray;   */
}
select,option{
  background-image:
   linear-gradient(to bottom right, rgb(145, 34, 12), rgb(247, 7, 59));  
}
.center{
  align-self: center;
  text-align: center;
}
.centered{
  margin-top: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  height: 80%;
  min-height : 600px;
}
.body-container{
  margin-top: 10px;
  margin-left:auto ;
  margin-right: auto;
}
.logo {
  flex-grow: 1;  
}
.logo-img{
  height: 60px;
  max-width :60px

}
h1{
  max-height: 30px;  
}
.main-container{
  border: solid 10px blue;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.menu-container{
  /* border: solid 6px orange; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-grow: 2;
}
.profile-avatar{
  max-width: 30px;
  max-height: 30px;
  border-radius: 25px;
  margin: 5px;
}
 /*.navbar-container{
  border: solid 8px red; */
  /* top: 0;
  position: fixed; */
  /* display :flex;
  flex-direction: row; 
}*/

.questions-list{
  display: flex;
  flex-direction: column;
  border: 5px black;
   list-style-type: none;
   gap :5px;
}
.question-details{
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  /* padding-left: 10px; */
  border: solid 2px blue;
  
}
.question-details-data{
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  padding-left: 10px;
  margin: 10px;
  width: 100%;
  border:dashed 2px grey;
}
.avatar {
  height: 100px;
  border-radius: 25px;
  margin: 5px;
   
}
/* .question-details h3{
  /* align-self: center; */
  /* font-weight: bold; 
} 
*/
/* .question-user{
  /* border:solid 2px red; 
  display: flex;
  flex-direction: row;
} */

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
.user-details{
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  /* padding-left: 10px; */
   border: solid 2px blue; /*rgba(241, 241, 40); */
  
}
.score{
  border-radius: 80px;
  background-color: rgb(117, 5, 5);
  color : white;
  font-size: x-large;
  
  /* postiotion */  
  /* position:relative; */
  /* top: 10px;
  right : 10px; */
  align-self: flex-end;
  height: 90px;
  width: 120px;
  margin: 20px;
  
  text-align: center;
}
.user-details-data{
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  width: 80%;
  border:dashed 2px grey;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  top : 50px;
  width: 100%;
  border: double 2px pink;
  margin-top: 100px;
  /* background-color: red; */
  color: white;
  text-align: center;
}
.scollable{
  overflow: scroll;
}