/* html{
  height: 100%;
  min-height: 100%;
  min-height: 100%
}*/
.nav-link{
  color: white;
}
 body {
  height: 100%;
  background-repeat:repeat;
  background-attachment: fixed;
  background-image:
  linear-gradient(to bottom right, #885555, #FDC7BA);  
} 
.new-gradiant{
  /* background-color: yellow; */
  background-image:
  linear-gradient(to bottom right, #885555, #FDC7BA);
}
header,footer {
  position: fixed;
  width: 100%;
  left: 0;
}
header{
  top: 100;
  /* height: 100px; */
}

.full-height {
  height:calc( 100% - 10px);
  min-height: 100%

}
.App {
  text-align: center; 
   height: calc(20px + 100%);
   width: 100%;
     
}
.dark-red-gradiant{
  /* background-image:
   linear-gradient(to bottom right, #EB6348FF, #E44367FF);   */
   color :orange;
   height: 100%;
   background-repeat: no-repeat;
   background-attachment:scroll;
}

h2,h1 {
  color:yellow;
  margin : 20px;
}
h3{
  margin: 10px;
  color:white
}
.login-parent{
  /* margin: 13% 20% auto auto ;*/
  width: 400px;
  height: 200px;
  
  border: 3px solid darkgray;
  padding: 10px;
    /* box-shadow: 5px 5px lightgray;   */
}
select,option{
  background-image:
   linear-gradient(to bottom right, rgb(145, 34, 12), rgb(247, 7, 59));  
}
.center{
  align-self: center;
  text-align: center;
}
/* .centered{
  margin-top: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  height: 80%;
  min-height : 600px;
} */
.body-container{
  padding: 100px 0 75px;

  width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  margin-top: 100px;
  margin-left:auto ;
  margin-right: auto;
}

.logo-img{
  height: 60px;
  max-width :100px

}
h1{
  max-height: 30px;  
}
.main-container{
  /* border: solid 10px blue; */
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
}
.menu-container{
  /* border: solid 6px orange; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-grow: 2;
  color: white;
  font-weight: bolder;
}
.profile-avatar{
  max-width: 30px;
  max-height: 30px;
  border-radius: 25px;
  margin: 5px;
}
/* .navbar-container{
   border: solid 3px red;  
}*/
  /* top: 0;
  position: fixed; */
  /* display :flex;
  flex-direction: row; 
}*/

.questions-list{
  display: flex;
  flex-direction: column;
  border: 5px black;
   list-style-type: none;
   gap :20px;
}
.question-details{
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  /* padding-left: 10px; */
  background-image: linear-gradient(to bottom right, #7E9181, #A5BDA9);  
  border-radius: 25px;
  box-shadow: 10px 10px rgba(131, 129, 129, 0.3);
  
}
.question-details-data{
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  padding-left: 10px;
  margin: 10px;
  width: 100%;
  border:dashed 2px grey;
}
.avatar {
  height: 100px;
  border-radius: 25px;
  margin: 5px;
  opacity: 0.9;
   
}

.new-question{
  display: flex;
  flex-direction: column;   
  width: 100%;
  /* padding-left: 10px; */
  background-image: linear-gradient(to bottom right, #7E9181, #A5BDA9);  
  border-radius: 25px;
  box-shadow: 10px 10px rgba(131, 129, 129, 0.3);
  
}
.new-question-details{
  width: 80%;
  align-self: center;
  margin: 20px;
}
.new-question-details >div > button{  
  margin-top: 20px;
}
/* .question-details h3{
  /* align-self: center; */
  /* font-weight: bold; 
} 
*/
/* .question-user{
  /* border:solid 2px red; 
  display: flex;
  flex-direction: row;
} */
.bg-color-blue-black{
  background-color: #08415C;
  background-blend-mode: lighten;
}

.option-details{
  display : flex ;
  flex-direction: column;  
}
.option-details >:nth-child(2) {
  color :#ffffff;
}
input {
  width: 100%;
}
button{
  width:100%;
  height: 50px;
  background-color: royalblue;
  border-radius: 15px;
}
.button{
  width:90%;
  height: 50px;
  background-color: #FFD23F;
  font-weight: bolder;
  margin: 10px;
  border-radius: 15px;
  align-self: center;
}
.user-details{
  display: flex;
  flex-direction: row; 
  align-items: flex-start;

   /* background-color: #7E9181; */
 /* background-blend-mode: lighten; */
  /* background-image: linear-gradient(to bottom right, #6D98BA, #0a008f);   */
  background-image: linear-gradient(to bottom right, #7E9181, #A5BDA9);  
  /* padding-left: 10px; */
   /* border: solid 4px yellow; rgba(241, 241, 40);   */
   border-radius: 25px;
   box-shadow: 10px 10px rgba(131, 129, 129, 0.3);
}
.score{
  border-radius: 25px;
  background-color: #FFD23F;
  color : black;
  font-size: x-large;
  
  /* postiotion */  
  /* position:relative; */
  /* top: 10px;
  right : 10px; */
  align-self: flex-end;
  height: 90px;
  width: 120px;
  margin: 20px;
  
  text-align: center;
}
.user-details-data{
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  width: 80%;
  border:dashed 2px grey;
}
.user-name{
  font-weight: bolder;
  text-decoration: underline;
  color: #B5FFE1;
}

.footer {
  bottom: 0;
  height: 75px;
  background-color: rgb(31, 30, 30);
 
  /* position: static;
  left: 0;
  bottom: 0; 
  top : 50px;*/
  /* width: 100%; */
  border: double 2px pink;
  /* margin-top: 100px; */
  /* background-color: red; */
  color: white;
  text-align: center;
  display: flex;
  flex-direction: co;
}
.footer-section{
  /* border: solid 2px blue; */
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width:100%
}
.footer-section > a{
  font-size: 24pt;
}
.footer-section > div{
  display: flex;
  flex-direction: column;
}
.scollable{
  overflow: scroll;
}
.color-second{
  color:white;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/